/* WHOLE PAGE BACKGROUND IMAGE */
body {
  margin: 0;
  font-family: Arial;
  background-image: url('images/img1');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
}